{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiel.id }}</td>
            </tr>
            <tr>
                <th>Keys</th>
                <td>{{ materiel.keys ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Radio</th>
                <td>{{ materiel.radio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ materiel.phone ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Round_controller</th>
                <td>{{ materiel.roundController ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Torch</th>
                <td>{{ materiel.torch ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Key_car</th>
                <td>{{ materiel.keyCar ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ivvadr</th>
                <td>{{ materiel.ivvadr ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiel_index') }}">back to list</a>

    <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">edit</a>

    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
